/*==========================================
            TABLET
==========================================*/

@media(max-width:1024px){

    .hero{

        gap:40px;

    }

    .hero h1{

        font-size:4rem;

    }

    .skills-grid{

        grid-template-columns:repeat(3,1fr);

    }

}

/*==========================================
            MOBILE
==========================================*/

@media(max-width:768px){

    .hero{

        flex-direction:column-reverse;

        text-align:center;

        padding-top:120px;

    }

    .hero-image img{

        width:320px;

    }

    .hero-buttons{

        justify-content:center;

    }

    .socials{

        justify-content:center;

    }

    .about-container{

        flex-direction:column;

    }

    .about-info{

        grid-template-columns:1fr;

    }

    .skills-grid{

        grid-template-columns:repeat(2,1fr);

    }

    .projects-grid{

        grid-template-columns:1fr;

    }

    .form-top{

        grid-template-columns:1fr;

    }

}

/*==========================================
        SMALL MOBILE
==========================================*/

@media(max-width:480px){

    .hero h1{

        font-size:2.8rem;

    }

    .hero p{

        font-size:1rem;

    }

    .hero-image img{

        width:260px;

    }

    .skills-grid{

        grid-template-columns:1fr;

    }

    .contact-form{

        padding:30px 20px;

    }

}