/*==========================================
            VARIABLES GLOBALES
==========================================*/

:root{

    /*============================
            COLORES
    ============================*/

    --primary:#ff84b7;
    --primary-dark:#ff73ab;
    --primary-light:#ff91c2;

    --pink-soft:#ffd7eb;
    --pink-card:#fff7fa;
    --pink-tag:#ffe4f0;

    --purple:#d7c7ff;

    --background:#fff8fb;

    --white:#ffffff;

    --text:#5c4b5f;
    --text-light:#8b5d7a;

    /*============================
            BORDES
    ============================*/

    --radius-sm:16px;
    --radius-md:20px;
    --radius:25px;
    --radius-lg:35px;
    --radius-xl:40px;
    --radius-pill:999px;

    /*============================
            SOMBRAS
    ============================*/

    --shadow-sm:
    0 10px 20px rgba(0,0,0,.05);

    --shadow-md:
    0 10px 30px rgba(0,0,0,.05);

    --shadow-pink:
    0 15px 35px rgba(255,145,194,.20);

    --shadow-lg:
    0 25px 50px rgba(255,145,194,.25);

    /*============================
            TRANSICIONES
    ============================*/

    --transition:.35s ease;

}

/*==========================================
                BODY
==========================================*/

body{

    background:var(--background);

    color:var(--text);

}